<!DOCTYPE html>
<html>
<title>Angular CRUD - Netdeal</title>
<script type="text/javascript" src="./assets/js/angular.min.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>
<head>
  <meta http-equiv="Content-Type" content="text">
</head>

<body>
  <div ng-app="treeApp" ng-controller="TreeController" class="container">
    <h1>CRUD using AngularJS</h1>
    <ul class="table-nested" ng-checked="(list | selected).length == list.length"
      ng-click="toggleAllCheckboxes($event)">
      <li ng-class='{opened: item.opened}' ng-repeat="item in treeData" ng-include="'itemTemplate'"></li>
    </ul>

    <script type="text/ng-template" id="itemTemplate">
      <label ng-class="{parent: item.children}" ng-init="parentScope = $parent.$parent; initCheckbox(item, parentScope.item)">
          <input type="checkbox" ng-model="item.selected" ng-change="toggleCheckbox(item, parentScope)">
          {{ item.name }}
      </label>
      <ul ng-if="item.children && item.children.length > 0">
          <li ng-class='{opened: item.opened}' ng-repeat='item in item.children' ng-include="'itemTemplate'" ng-init="level = level + 1"></li>
          <li><a href="#">Edit</a> | <a href="#">Delete</a></li>
      </ul>
  </script>
</body>
</div>
</html>